
a .navtag {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
}
li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
    ul {
         margin-top: 40px; 
    }
}


.navtext {
  line-height: 1.5;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  background: #1e262d;
}
a {
  text-decoration: none;
  color: #fff;
}
#header {
  background: #1e262d;
  width: 100%;
  position:fixed;
  z-index: 90;
  box-shadow: 0 8px 8px -4px lightblue;
  height: 94px;
  top: 0;
  

}
#header:after {
  content: "";
  clear: both;
  display: block;
  
  
}
.search {
  float: right;
  padding: 30px;
}
input {
  border: none;
  padding: 10px;
  border-radius: 20px;
}
.logo {
  float: left;
  padding: 26px 0 0px;

}
.logo a {
  display: block;
  padding: 0 0 0 20px;
}
navi {
  float: right;
  
}
navi > ul {
  float: left;
  position: relative;
}
navi li {
  list-style: none;
  float: left;
}
navi .dropdown {
  position: relative;
}
navi li a {
  float: left;
  padding: 35px;
  
}
navi li a:hover {
  text-underline-offset: 8px;
}

navi li ul {
  display: none;
}
navi li:hover ul {
  display: inline;
}
navi li li {
  float: none;
}
navi .dropdown ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  padding: 20px 0;
  border-bottom: 3px solid #34495e;
}
navi .dropdown li {
  white-space: nowrap;
}
navi .dropdown li a {
  padding: 10px 35px;
  font-size: 13px;
  min-width: 200px;
}
navi .mega-dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  overflow: hidden;
  padding: 20px 35px;
  border-bottom: 3px solid #34495e;
}
navi li li a {
  float: none;
  color: #333;
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
}
navi li li a:hover {
  background: #fafbfb;
}
.mega-col {
  width: 25%;
  float: left;
}
#menu-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  margin-right: 30px;
  display: none;
}
#menu-icon span {
  border: 2px solid #fff;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.1s;
}
@media only screen and (max-width: 1170px) {
  navi > ul > li > a {
    padding: 35px 15px;
  }
}
@media only screen and (min-width: 960px) {
  navi {
    display: block !important;
  }
}
@media only screen and (max-width: 959px) {
  navi {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 580px;
    overflow-y: scroll;
  }
  #menu-icon {
    display: inline;
    top: 45px;
    cursor: pointer;
  }
  #menu-icon.active .first {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
  }
  #menu-icon.active .second {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -9px;
  }
  #menu-icon.active .third {
    display: none;
  }
  .search {
    float: none;
  }
  .search input {
    width: 100%;
  }
  navi {
    padding: 10px;
  }
  navi ul {
    float: none;
  }
  navi li {
    float: none;
  }
  navi ul li a {
    float: none;
    padding: 8px;
    display: block;
  }
  #header navi ul ul {
    display: block;
    position: static;
    background: none;
    border: none;
    padding: 0;
  }
  #header navi a {
    color: #fff;
    padding: 8px;
  }
  #header navi a:hover {
    background: #fff;
    color: #333;
    border-radius: 3px;
  }
  #header navi ul li li a:before {
    content: "- ";
  }
  .mega-col {
    width: 100%;
  }
} 






